// include `mixins.scss` to demo current styles, with no arguments set

@use "../src/styles/mixins" as *;

@include selects();

@include select-single();

@include select-multi();

@include select-search-single();
