@mixin search-icon {
	padding-left: $spacer*1.5;
	background-color: #fff;
	background-position: center left $spacer/1.5;;
	background-repeat: no-repeat;
	background-image: url('data:image/svg+xml;charset=UTF-8,<svg class="icon" xmlns="http://www.w3.org/2000/svg" stroke="%23757575" height="16px" width="16px" viewBox="0 0 24 24"> <path d="M21.7,20.3L18,16.6c1.2-1.5,2-3.5,2-5.6c0-5-4-9-9-9c-5,0-9,4-9,9s4,9,9,9c2.1,0,4.1-0.7,5.6-2l3.7,3.7 c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3C22.1,21.3,22.1,20.7,21.7,20.3z M4,11c0-3.9,3.1-7,7-7c3.9,0,7,3.1,7,7 c0,1.9-0.8,3.7-2,4.9c0,0,0,0,0,0s0,0,0,0c-1.3,1.3-3,2-4.9,2C7.1,18,4,14.9,4,11z"/> </svg>');
}

@mixin highlighted {
	background-color: $royal53;
	color: #fff;

	&::after {
		// border-color for check icon
		border-color: #fff !important;
		// background for plus icon
		background:
				linear-gradient(#fff,#fff),
				linear-gradient(#fff,#fff);
			background-position:center;
			background-size: 100% 2px,2px 100%;
			background-repeat:no-repeat;
	}
}

@mixin select {
	// START All aesthetic CSS
	$border-width: 0;
	$border-radius: 4px;

	// Shadow around box when focused with keyboard. Disappears when dropdown is open
	$focus-shadow: 0 0 1px 1px $cVulcanGray20;
	$max-width: 100%;
	$box-shadow: inset 0px -2px 0px $moon89;
	$open-box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.08);
	$option-padding: $spacer/3 $spacer $spacer/3 $spacer/1.5;
	$dropdown-overflow-y: auto;
	// END All aesthetic CSS

	$z-index-combo-menu: 100;

	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	.combo {
		position: relative;
		display: block;
		max-width: $max-width;
	}

	.combo-input {
		display: block;
		width: 100%;
		height: 2.5rem; // 40px from design
		padding: 0.625em 2.5em 0.625em 1.25em;
		position: relative;
		border: $border-width solid rgba(0, 0, 0, 0.5);
		border-radius: $border-radius;
		text-align: left;
		font-size: 0.875rem;
		background-color: $moon97;
		box-shadow: $box-shadow;
		transition-duration: 0.2s;
	
		&:focus {
			outline: 5px solid transparent;
			box-shadow: $focus-shadow;

			@include search-icon;
		}
	}

	.combo-label {
		display: block;
		margin-bottom: 0.9em;
		font-size: 12px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 1.5px;
	}

	.combo-menu {
		position: absolute;
		top: 100%;
		left: 0;
		z-index: $z-index-combo-menu;
		width: 100%;
		max-height: 300px;
		border: $border-width solid rgba(0, 0, 0, 0.42);
		border-radius: 0 0 $border-radius $border-radius;
		overflow-y: $dropdown-overflow-y;
		background-color: #fff;
		visibility: hidden;
		opacity: 0;
	}

	.open {
		.combo-menu {
			visibility: visible;
			opacity: 1;
			transition: opacity 0.2s ease-in-out 0.04s, visibility 0.2s ease-in-out 0.04s;

			border-bottom: 1px solid $cVulcanGray91;
			border-left: 1px solid $cVulcanGray91;
			border-right: 1px solid $cVulcanGray91;

			& > div:first-child {
				margin-top: $spacer/1.5;
			}

			// short bottom border for input when combo-menu is shown
			&::before {
				position: absolute;
				content: '';
				left: $spacer/1.5;
				right: $spacer/1.5;
				top: 0;
				border-bottom: 1px solid $cVulcanGray91;
			}
		}

		.combo-input {
			border-top: 1px solid $cVulcanGray91;
			border-left: 1px solid $cVulcanGray91;
			border-right: 1px solid $cVulcanGray91;
			border-bottom: none;
			border-radius: $border-radius $border-radius 0 0;

			@include search-icon;

			&:focus {
				box-shadow: none;
			}
		}
	}
	
	.disabled {
		.combo-input {
			color: $cVulcanGray48;
			background-color: $cVulcanGray91;
			box-shadow: unset;
		}

		&::after {
			border-color: $cVulcanGray48;
		}
	}

	.combo-option.option-current,
	.combo-option:hover {
		@include highlighted;
	}

	.combo-option {
		padding: $option-padding;
		position: relative;
		cursor: pointer;

		&::after {
			content: '';
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			right: $spacer;
			width: 10px;
			height: 10px;
			background:
				linear-gradient(#000,#000),
				linear-gradient(#000,#000);
			background-position:center;
			background-size: 100% 2px,2px 100%;
			background-repeat:no-repeat;
		}

		&.option-selected {
			@include highlighted;

			&::after {
				width: 8px;
				height: 16px;
				border-right: 2px solid;
				border-bottom: 2px solid;
				background: none;
				transform: translate(0, -50%) rotate(45deg);
			}
		}
	}
}

@mixin select-multiple {
	// START All aesthetic CSS
	$background-color: #fff;
	$border: 1px solid $royal53;
	$border-radius: 3.125rem;
	$color: $royal53;
	// END All aesthetic CSS

	.selected-options {
		max-width: 400px;
		margin: 0;
		margin-top: $spacer/1.5;
		padding: 0;
		list-style-type: none;
	}

	.selected-options li {
		display: inline-block;
		margin-bottom: 5px;
	}

	.remove-option {
		position: relative;
		margin-right: 10px;
		margin-bottom: 10px;
		padding: 6px 3em 6px 15px;
		border: $border;
		border-radius: $border-radius;
		text-align: left;
		text-transform: uppercase;
		color: $color;
		font-size: 10px;
		font-weight: bold;
		line-height: 13px;
		letter-spacing: 0.078125em;
		background-color: $background-color;
	}

	.remove-option:focus {
		border-color: $background-color;
		outline: 3px solid transparent;
		box-shadow: 0 0 3px 1px $color;
	}

	.remove-option::before,
	.remove-option::after {
		content: '';
		position: absolute;
		top: 8px;
		right: 1.5em;
		width: 0;
		height: 1em;
		border-right: 2px solid $color;
	}

	.remove-option::before {
		transform: translate(0, 0%) rotate(45deg);
	}

	.remove-option::after {
		transform: translate(0, 0%) rotate(-45deg);
	}
}
